body{
    font-family: Georgia;
    background-image: url('fundo.jpg');
    background-position: initial; background-size: cover; background-repeat: no-repeat;
}
h1{
    text-align: center;
    font-size: 60px;
    margin: 0;
}
.card-historia h2{
    color: red;
    font-size: 40px;
}
.card-historia p{
    font-size: 20px;
    margin-left: 15px;
    background: peachpuff;
    box-shadow: 0 0 5px 1px black;
    border-radius: 5px;
}
.card-seguido ul li{
    display: inline; 
}

h2{
    font-size: 34px;
    color: red;
}
.card-ordem ol{
    font-size: 20px;
    background: bisque;
    box-shadow: 0 0 5px 1px black;
    border-radius: 5px;
    width: 50%;
    margin: 0 0 0 100px;
}
img{
    box-shadow: 0 3px 5px 0 black;
    border-radius: 5px;

}
.card-foto img{
    margin-left: 35px;
}
a{
    margin-left: 60px;
}