body{
    background: green;
    color: yellow;
}
h1{
    text-align: center;
    color: red
    
}
h2{
    color: red;
}
p{
    text-align: justify;
}
ol{
    font-size: 20px;
}
.font-blue{
    color: blue;
}
.font-black{
    color:black
}
.font-red{
    color: red
}
.font-times{
font-family: 'times', serif;
}
.font-georgia{
font-family: 'Georgia', serif;
}
.font-30{
    font-size: 30px;
}
.font-20{
    font-size: 20px;
}
.font-40{
    font-size: 40px;
}
.background{
    background: black;
}
.background-white{
    background: white;
}
.font-white{
    color: white;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}